# https://docs.netlify.com/configure-builds/file-based-configuration/
[build]
  base = "src/"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/wp-search-plugins-api"
  status = 301

[functions]
  directory = "netlify/functions/"
  node_bundler = "esbuild"
  external_node_modules = ["node-fetch", "firebase-admin/app", "firebase-admin/firestore"]
  # https://www.netlify.com/blog/2021/08/12/how-to-include-files-in-netlify-serverless-functions/
  included_files = ["types/**", "lib/**"]