# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule

name: Wordpress Plugin Loader
on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  test_schedule:
    runs-on: ubuntu-latest
    steps:
    - name: Start Logging
      run: echo "Starting the loader request"
    - name: Run loader
      uses: fjogeleit/http-request-action@v1
      with:
        url: 'https://prismatic-yeot-e7f71f.netlify.app/.netlify/functions/loader'
        method: 'POST'
        data: '{"code": "123456"}'
    - name: End Logging
      run: echo "The loader request has ended"